#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Finance Guru
Comment=Personal finance tracker
Exec=financeguru
Icon=financeguru
Terminal=false
Type=Application
Categories=Office;Finance;
StartupNotify=true
